#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-small {
    width: 100px;
}

.input-error {
    border: 1px solid red;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 2px;
    padding-left: 10px;
}

.form-connected-groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-container {
    display: flex;
    align-content: center;
    padding: 20px;
    background-color: gray;
    border-radius: 8px;
}

.form-group-button {
    display: flex;
    justify-content: center;
}


